# ======================
# PYTHON
# ======================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =====================
# ENVERONMENT
# =====================
.env
.env.*
*.env


# =====================
NODE / REACT
# =====================
frontend/node_moludes/
f /dist/
frontend/.vite/
node_moludes/

# =====================
# BUILD
# =====================
dist/
build/

# =====================
# IDE
# =====================
.vscode/
.idea/

# ====================
# OS FILES
# ====================
.DS_Store
thumbs.db

# ==================
# DATABASE LOCAL
# ==================
*.sqlite3
*.db
